html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(252, 249, 249)!important;
}

#fijo {
        background: rgba(255, 255, 255, 0.86);
        width: 100%;
        position: fixed;
        z-index: 100;
}


header div {
    width: 100vw;
    height: 18vh;
    display: flex;
    justify-content: center;
}

header img {
    width: 8vw;
    height: 18vh;
    border-radius: 10%;
}

section img {
    width: 100vw;
    margin-top: 25vh;
}


.navegacion {
    padding-top: 20vh;
}

nav {
    background-color: rgb(124, 149, 230);
    width: 100vw;
}

nav a {
    color: rgb(255, 255, 255);
    display: block;
}


#perrosGatos img {
    width: 100vw;
}

#perrosGatos {
    display: flex;
    flex-wrap: wrap;
}

#perrosGatos h1 {
    margin-left: 38vw;
}

#peces h1 {
    margin-left: 44vw;

}

#roedores h1 {
    margin-left: 40vw;

}

#perrosGatos #menuPerrosGatos div img {
    width: 20vw;
}

#menuPerrosGatos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3vw;
}

#menuPerrosGatos div {
    display: flex;
    padding: 5vh 2vw 0vh 2vw;

}

#menuPerrosGatos .card-body {
    font-weight: bold;
}

#menupeces .card-body {
    font-weight: bold;

}

@font-face {
    font-family: dancingscript;
    src: url(DancingScript.ttf);
}

section h1 {
    font-family: dancingScript;
    text-align: center;
    font-size: vw;
    color: rgb(124, 149, 230);
}

@font-face {
    font-family: openSans;
    src: url(OpenSansCondensed-Light.ttf); 
}


#letra {
    font-family: openSans;
    font-size: 2vw;
    color: rgb(0, 0, 0);
}

#separador {
    margin-top: 12vh;
}

.card {
    margin-right: 1vw;
    margin-bottom: 2vh;
}

#pupi {
    padding-top: 5vh;
}

#koi {
    padding-top: 6vh;
}

#payaso {
    padding-bottom: 2vh;
}

#leon {
    padding-top: 21vh;
}

#puppi {
    padding-top: 11vh;
}

#peces {
    display: flex;
    flex-wrap: wrap;
}

#menupeces {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3vw;
}

#menupeces div {
    display: flex;
    padding: 5vh 2vw 0vh 2vw;
}

#subir {
    padding-bottom: 2vh;
}

#roedores {
    display: flex;
    flex-wrap: wrap;
}

#menuroedores {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2vw;
}

#mapa {
    width: 40vw;
    height: 35vh;
    margin-top: 2vh;
}

#labrador {
    display: inline;
}

#conejo {
    padding-top: 5vh;
    font-weight: bold;
}

#ratita {
    padding-top: 10vh;
    font-weight: bold;
}

#foot {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(124, 149, 230);;
    border: 1px solid #000;
    padding-top: 2vh;
    margin-top: 5vh;
    color: rgb(255, 255, 255);
}

/***************** CSS para Contact.html **************************/



#form {
    padding-top: 20vh;
}

#form p {
    font-weight: lighter;
    font-size: 3vh;
    margin-left: 2vw;
}

#form h1 {
    font-family: openSans;
    color: rgb(0, 0, 0);
    font-size: 5vh;
    text-align: start;
    margin-left: 2vw;
}

.flex {
    margin-left: 1vw;
}

#tipoAnimal {
    display: flex;
}

#perro {
    margin-right: 2vw;
}

#fondoImg {
    background-image: url("../assets/images/IMG-20200803-WA0104.jpg")!important;
    background-attachment: fixed;
    background-size: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(241, 246, 248)!important;
}

#noFixed {
    background: rgb(255, 255, 255);
    width: 100%;
}

.cuidados {
    height: 90vh;
    width: 40vw;
    margin-top: 0vh;
    margin-bottom: 5vh;
}

#transparente {
    background: rgba(255, 255, 255, 0.0);
}

input:invalid {
    border: 1px solid rgb(221, 36, 36);
  }

input:invalid:required {
    background-image: linear-gradient(to right, rgba(177, 46, 68, 0.4), rgba(44, 163, 44, 0.4));
  }
  
input:valid {
    border: 2px solid rgb(0, 0, 0);
  }

#fname {
      padding-right: 12vw;
  }

#lname {
      padding-right: 12vw;
  }

.form-group {
      margin-top: 2vh;
  }

  /********************* CSS para Farmer.html  ****************/

#bodyFarmer {
    background-image: url("../assets/images/alegria-animal.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

@font-face {
    font-family: redRose;
    src: url(RedRose-Light.ttf); 
}

#bodyFarmer h1 {
    font-family: redRose;
    font-size: 35px;
    color: rgb(0, 0, 0);
    padding-top: 2vh;
    padding-left: 1vw;
}

main h2 {
    font-family: redRose;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;

}

article h1 {
    margin-top: 1vh;
}

#secondh1 {
    margin-top: 0vh;
    margin-bottom: 5vh;
}

#bodyFarmer p {
    padding-left: 1vw;
    color: rgb(29, 29, 29);
    font-weight: bold;
}

.lista {
    padding-left: 2vw;
    padding-top: 1vh;
    list-style: none;
    color: black;
    margin-bottom: 10vh;
}

#noStyle {
    list-style: none;

}

.sectionFarmer {
    background-image: url("../assets/images/fondo-abstracto-azul.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5vh;
}

#logoContenido {
    margin-top: 2vh;
    margin-left: 45vw;
    width: 13vw;
    height: 28vh;
    border-radius: 10%;
}

#articulo {
    display: flex;
}

.claseParaCartasFarmacia {
    width: 25vw;
}